<div class="direct-message">
  <p><strong><%= direct_message.sender.name %>:</strong></p>
  <p><%= direct_message.body %></p>
  <p><small><%= direct_message.created_at.strftime("%H:%M") %></small></p>
</div>