<div class="direct-message">
  <p><strong><%= direct_message.sender.email %>:</strong></p>
  <p><%= direct_message.content %></p>
  <p><small><%= direct_message.created_at.strftime("%H:%M") %></small></p>
</div>